pipeline/pl_incremental_load_copy_files.json
{
	"name": "pl_incremental_load_copy_files",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata Desserts4all",
				"description": "Lookup datasets\nstatic (no parameters)",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_desserts4all_csv_incremental",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach file from Desserts4all",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata Desserts4all",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata Desserts4all').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Get Metadata of Get Metadata Activity",
							"description": "dynamic Get Metadata using\nLast Modified Data\n",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_dessertsforall_dynamic_getmetadata",
									"type": "DatasetReference",
									"parameters": {
										"FileName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"lastModified"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "If Condition for Last Modified",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Get Metadata of Get Metadata Activity",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"typeProperties": {
								"expression": {
									"value": "@activity('Get Metadata of Get Metadata Activity').output.lastModified",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Copy data recentfile",
										"description": "using recent file from Last Modified",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"enableStaging": false
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "Incremental Copy CSV Files"
		},
		"annotations": []
	}
}